//COLORES
$mainColor: rgb(0, 119, 255);
$secundaryColor: rgb(0, 67, 192);
$btn-color: #01aaff;
$blue: rgb(26, 2, 126);
$darkblue: #002238;
$black: #000;
$white: #fff;
$gray : #333;
$lightgray :#ccc;



