
//DESCRIPCION

.descripcion {
    background-color: $mainColor;
    p {
        font-weight: $textBold;
    }
}

//MERENDERO

.merendero__container {
    .merendero {
        max-width: 900px;
        width: 80%;
        @media (min-width:992px) {
            max-width: 900px;
            width: 45%;
        }
        img {
            object-fit: cover;
        }
    }
}

//NOTICIAS 

.noticias {
    background-color: $black;
    h2 {
        color: $white;
    }
}

//HISTORIA 

.historia {
    ul {
        margin-bottom: 10px;
    }
}


//FUTBOL 

.plantel {
    background-color: $lightgray;
}

//PARTIDOS
.container__partidos {
    background-color: $black;
}
.partidos {
    color: $black;
    @media (min-width:576px){
        width: 60vw;
    }
    @media (min-width:992px) {
        width: 45%;
        height: 20vw;
    }
    .datos-partidos {
        margin-top: 5px;
        @media (min-width:1200px){
            margin: 20px 0;
        }
    }
}

//SOCIOS
.socios {
    color: $black;
    ul {
        li {
            color: $white;
        }
    }
}
.form-1 {
    border-radius: 15px;
    div {
        width: 90%;
        border: none;
        label {
        color: $white;
    }
        input {
            @extend .input-form;
        }
    }
}

.enviar-1 {
    @extend .btn-form;
 }

//MULTIMEDIA 

.multimedia {
    color: $white;
    section {
        @extend .box-multimedia;
    }
}

//CONSERJERIA 
.conserjeria {
    text-align: center;
    hr {
        color: $white;
        margin: auto;
        margin-top:40px;
        width: 70vw;
        
    }
}

@media (min-width:992px) {
    .conserjeria {
        text-align: start ;
    }
    .carousel, .carousel-inner {
        height: 100vh;
        width: 40vw;
        margin: auto;
    }
    .carousel-control-prev {
        left: 100px ; 
    }
    .carousel-control-next {
        right: 100px;
    }
}
//CONTACTO
.contacto {
    color: $white;
}
.form-2 {
    border-radius: 5px;
    margin-top: 20px;
    background-color: $mainColor;
    input {
        @extend .input-form;
    }    
    textarea {
        @extend .input-form;
        resize: none;
    }
    
    
}
.enviar-2 {
   @extend .btn-form;
}